.feedback {
  padding-top: 79px;
  padding-bottom: 70px; }
  .feedback-slider {
    padding-top: 15px;
    margin-bottom: 14px; }
  .feedback-btn {
    text-align: center; }

.slick-slide {
  outline: none;
  width: 744px;
  -webkit-transition: .3s;
  transition: .3s; }

.slick-slide:not(.slick-center) {
  z-index: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.7;
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.slick-center {
  margin: 0px -350px; }

.item-block {
  text-align: center; }
  .item-block__img {
    margin-bottom: 17px; }
    .item-block__img img {
      margin: 0 auto; }

.item-text {
  font-family: 'Proxima Nova Regular'; }
  .item-text__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 2; }
