.footer {
  background: linear-gradient(80deg, rgba(26, 125, 187, 0.8), rgba(120, 74, 203, 0.8)), url(../img/footer/footer-bg.jpg) center no-repeat;
  padding-bottom: 31px;
  padding-top: 35px; }
  .footer-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1; }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff; }
    .footer-info__img {
      margin-right: 60px; }
    .footer-info__text {
      font-family: 'Proxima Nova Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 22px; }
  .footer-act {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff; }
    .footer-act__tel {
      margin-right: 30px;
      text-align: right; }
      .footer-act__tel_number {
        font-size: 19px;
        font-family: 'Roboto'; }
      .footer-act__tel_name {
        font-size: 14px;
        paddding-bottom: 6px;
        font-family: 'Proxima Nova Regular'; }
