.other {
  padding: 80px 0px;
  background-color: #f4f9fb; }
  .other-block {
    margin: 22px 0 0 0;
    padding: 10px 10px 29px 10px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    max-width: 370px; }
    .other-block img {
      max-width: 100%; }
    .other-block__img {
      padding-bottom: 27px; }
    .other-block__text {
      color: #5b5b5b;
      font-size: 16px;
      font-family: 'Proxima Nova Regular';
      font-weight: 300;
      width: 100%;
      padding: 0px 30px; }
  .other-title {
    color: #202020;
    font-size: 18px;
    font-family: 'Proxima Nova Semibold';
    padding-bottom: 5px; }
  .other-descr {
    color: #5b5b5b;
    font-size: 16px;
    font-family: 'Proxima Nova Regular';
    line-height: 22px;
    padding-bottom: 10px; }
