.question {
  padding: 76px 270px;
  background: linear-gradient(80deg, rgba(26, 125, 187, 0.8), rgba(120, 74, 203, 0.8)), url(../img/question/quest-bg.jpg);
  background-size: cover;
  z-index: 0; }
  .question-descr {
    padding-bottom: 28px;
    padding-top: 9px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Proxima Nova Regular'; }
  .question-form {
    text-align: center; }

.input-quest {
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 19px; }
  .input-quest input {
    padding: 15px 60px;
    margin: 0px  10px;
    width: 96%; }

.btn-quest {
  display: block; }
